*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --cell-size: 24px;
}

table {
  font-family: monospace;
  text-align: center;
  border-collapse: collapse;
}

tr,
td {
  padding: 0;
}

td {
  border: 1px solid black;
  width: var(--cell-size);
  height: var(--cell-size);
}

thead > tr,
td:first-of-type {
  background: #ddd;
}

[data-type='snake'] {
  background-color: lightseagreen;
}

[data-type='food'] {
  background-color: lightsalmon;
}

[data-type='wall'] {
  background-color: lightslategrey;
}
